services:
  arcane:
    image: ghcr.io/getarcaneapp/arcane:latest
    container_name: arcane
    ports:
      - '3552:3552'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data
      - ./projects:/app/data/projects
    environment:
      - APP_URL=http://localhost:3552
      - PUID=1000
      - PGID=1000
      - ENCRYPTION_KEY=uBVPXPqg8cmQjf5n+iuAp05l42PnxlXwEt/ghtAFa4c=
      - JWT_SECRET=HTbE7ZicjcoepR1gKTiR4oePFLKJugdcGXl82P5ec64=
    restart: unless-stopped
